<div style="margin: 0;padding: 50px;font-family: arial;font-size: 13px;background: #F9F9F9; color:#555555;" align="center">
	<span style="display:inline-block; padding-bottom:10px; color:#b8b8b8; font-size:11px; text-align:center;">
		<img src="http://titikterangproject.com/dana/assets/img/dana_logo.png" height="50" /><br>
		DANA
	</span>
	<br><br>
	<div style="color:#3b3b3b;font-size: 22px;font-weight: bold; margin-bottom: 20px;">{subject}</div>
	<div style="margin: 0 auto;text-align: center;background: #ffffff;padding: 15px; border-radius: 10px;">
		<div style="font-size:15px; line-height:130%; color:#6f6f6f;">{content}</div>
	</div>
	<a href="http://dana.id" target="_blank" style="font-size:11px; color:#a6a6a6; margin-top:20px; display:inline-block; text-decoration:none;">dana.id
</div>
