.select-style {
  border: 0;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  padding: 1px;
  width: calc(100% - 10px);
  overflow: hidden;
  font-size: 15px;
  padding: 0 5px;
  height: 35px;
  position: relative;
  background: url(../images/arrow_down_black.png) no-repeat center;
  background-color:#fff;
  background-size: 10px;
  background-position: calc(100% - 15px);
  margin-top: 10px;
    
  select {
      padding: 10px 10px;
      width: 100%;
      border: none;
      box-shadow: none;
      background: transparent;
      background-image: none;
      -webkit-appearance: none;
      outline: none;
      font-family: $font_reg;
      font-size: 13px;
   }
   &.select-style_black {
      background: url(../images/arrow_down_white.png) no-repeat center #2F2F2F;
      background-size: 10px;
      background-position: calc(100% - 15px);
      margin-top: 10px;
      border:0;
      height: 30px;
      color:#fff;
      select {
        padding: 6px;
        color:#fff;
      }
   }
   &.select-style2 {
    width:50%;
   }
}
.select-style2 {
  border: 1px solid #D7D7D7;
  height: 35px;
  border-radius: 5px;
  background-color:#fff;
  overflow:hidden;  
  .select-style {
    border:0;
    border-radius:0;
    float: left;
  }
  .select-style60 {
    width:calc(60% - 10px);
  }
  .select-style40 {
    width:calc(40% - 11px);
    border-left:1px solid #D7D7D7;
  }
}
.group-input {
    text-align: left;
    font-size:15px;
    padding: 10px 0;
    input {
        margin-top: 10px;
        border: 0px solid #D7D7D7;
        border-radius: 5px;
        padding: 13px;
        width: calc(100% - 20px);
        outline: none;
        font-size: 15px;
        font-family: $font_reg;
        &.img {
          background-size: 25px;
          background-position: 5px;
          padding-left: 35px;
          width: calc(100% - 45px);
          background-repeat:no-repeat;
          background-color:#fff;
        }
        &.user {
          background-image:url("../images/ico_user.png");
        }
        &.email {
          background-image:url("../images/ico_mail.png");
        }
        &.password {
          background-image:url("../images/ico_password.png");
        }
        &.company {
          background-image:url("../images/icon_corporate.png");
        }
        &.phone {
          background-image:url("../images/icon_phone.png");
        }
        &:focus {
            border-color: $blue;
        }
    }
    .btn {
      background-color: #FF9F00;
      width: auto;
      padding: 10px 40px;
      color: #fff;
      font-weight: bold;
      border-radius: 0;
      letter-spacing: 3px;
      border:0;
      margin-top: 0;
      &:hover {
        background:$black;
      }
    }
    
    .input-password {
      position: relative;
    }
    .show_pass {
      position: absolute;
      right:5px;
      top:calc(50% - 10px);
      margin:0;
      cursor: pointer;
      z-index: 2;
      img {
        height:30px;
      }
      &:hover {
        opacity:0.7;
      }
    }

    .pass_hide {
      display:none;
      opacity:0.5;
    }
    &.group-password {
      .info-input {
        float: left;
        width:100%;
        margin-top: 5px;
        font-size:11px;
        position: relative;
        z-index: 2;
      }
      .strenght_pass,
      .strength_meter {
        float: right;
        width:130px;
      }
      .info-input2 {
        width:100%;
      }
    }

    textarea {
        border: 1px solid #D7D7D7;
        padding: 7px;
        width: calc(100% - 14px);
        border-radius:5px;
        outline: none;
        font-size: 15px;
        margin-bottom: 15px;
        margin-top: 5px;
        font-family: $font_reg;
    }
    .file {
      display:block;
      text-align:center;
      border: 1px solid #D7D7D7;
      padding: 7px;
      padding-bottom: 13px;
      margin-top: 15px;
      margin-bottom: 15px;
      img {
        height:20px;
        position: relative;
        top:5px;
      }
      input {
        position: absolute;
        opacity:0;
        left:0;
        top:0;
      }
    }

    .radiobox {
        input {
            float: left;
            width: auto;
            margin-right: 5px;
            display:none;
            &:checked ~ div{
              border-color:#1477EA;
              background:#E2F0FF;
            }
        }
        div {
          border:1px solid #D7D7D7;
          padding: 4px 8px;
          border-radius:5px;
          margin-bottom: 5px;
          display: inline-block;
          float: left;
          margin-right: 7px;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            border-color:#1477EA;
            background:#E2F0FF;
          }
        }
        &.radiobox2 {
          div {
            padding: 10px 50px;
            font-size: 20px;
            margin-right: 15px;
          }
        }
        &.radiobox_full {
          width: 100%;
          div {
            padding: 10px;
            text-align:left;
            width:calc(100% - 20px);
            display: inline-block;
          }
        }
        &.radiobox3 {
          input {
            &:checked ~ div{
              border-color:#1477EA;
              background:#1477EA;
            }
          }
        }
        &.radiobox_skill {
          text-align: center;
          > div {
            width: calc(20% - 26px);
            float: left;
            img {
              width: 50%;
              padding: 10px;
            }
          }
          input {
              float: left;
              width: auto;
              margin-right: 5px;
              display:none;
              &:checked ~ div{
                border-color:#1477EA;
                background-image: url(../images/icon_checklist.png);
                background-repeat: no-repeat;
                background-position: 95% 5%;
                background-size: 20px;
                background-color:#E2F0FF;
              }
          }
        }

    }
    .checkbox_type {
      div {
        border-radius:5px;
        margin: 7px;
        display: inline-block;
        float: left;
        font-size: 12px;
        cursor: pointer;
        text-align:center;
        width:70px;
        height: 70px;
        padding: 5px;
        background:#fff;
        @include shadow(10px,0.1);
        img {
          width: 70%;
        }
        &:hover {
          color:#1477EA;
        }
      }
      input {
          float: left;
          width: auto;
          margin-right: 10px;
          display:none;
          &:checked ~ div{
            background: url(../images/icon_checklist.png) no-repeat #fff;
            background-size: 15px;
            background-position: 90% 10%;
            color:#1477EA;
          }
      }
    }
    .checkbox_type2 {
      margin-bottom: 10px;
      display:block;
      div {
        float: left;
        width:15px;
        height:15px;
        margin-right: 10px;
        background:url(../images/checklist.png) no-repeat;
        background-size: 15px;
      }
      input {
          float: left;
          width: auto;
          margin-right: 10px;
          display:none;
          &:checked ~ div{
            background: url(../images/checklist_selected.png) no-repeat #fff;
            background-size: 15px;
            background-position: 90% 10%;
            color:#1477EA;
          }
      }
    }
    .input_file2 {
      border:1px solid #D7D7D7;
      border-radius:5px;
      padding: 7px 20px;
      font-size: 15px;
      display:inline-block;
      input {
        display:none;
      }
    }
    .with_remove {
      position: relative;
      .remove {
        position: absolute;
        height:30px;
        line-height:30px;
        right:0;
        top:0;
        z-index: 5;
        margin:2px 10px;
        font-weight:bold;
        cursor:pointer;
        &:hover {
          opacity:0.8;
        }
      }
    }
    .input-style {
      position: relative;
      .left {
        position: absolute;
        width: 40px;
        margin:0;
        padding:0;
        left: 10px;
        top:7px;
      }
      .right {
        position: absolute;
        width: 40px;
        margin:0;
        padding:0;
        right: 10px;
        top:7px;
        text-align:right;
      }
      input {
        padding-left: 50px;
        padding-right: 50px;
        width:calc(100% - 100px);
      }
      &.input-style-right {
        input {
          padding-left: 10px;
          width:calc(100% - 60px);
        }
      }
      &.input-style-left {
        input {
          padding-right: 10px;
          width:calc(100% - 60px);
        }
      }
    }
    &.group-input2 {
      border-bottom:1px solid $abu1;
      height:35px;
      margin-bottom: 10px;
      position: relative;

      label {
        float:left;
        width:100px;
        font-style:italic;
        margin-top: 10px;
      }
      input {
        float: left;
        width:calc(100% - 100px);
        border:0;
        background:none;
        padding:0;
        font-size: 15px;
        font-weight:normal;
        height:35px;
        text-align:left;
        margin-bottom: 0;
      }
      

    }
}
.group-input-drag {
  background: #F0F0F0;
  border:1px dotted #AAAAAA;
  padding: 30px;
  text-align:center;
  min-height:300px;
  position: relative;
  .drag_label {
    display:block;
    position: relative;
    width:100%;
    height: 280px;
    text-align:center;
    font-weight:bold;
    margin-top: 20px;
    .info_drag {
      display:inline-block;
      width:200px;
      img {
        width: 50%;
        margin: 20px 0;
        display:inline-block;
      }
      .btn {
        padding: 15px 0;
        margin-top: 20px;
        width:100%;
        font-weight:bold;
      }
    }
  }
  input[type="file"] {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0;
  }
  .imageThumb {
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
  }
  .pip {
    display: inline-block;
    position:relative;
    width:calc(33.3% - 30px);
    margin:10px;
    .box_img {
      background:#fff;
    }
    .btn {
      width:100%;
      padding:10px 0;
      display:block;
      text-align:center;
    }
  }
  .remove {
    display: block;
    background: red;
    width: 20px;
    height:20px;
    line-height:20px;
    border-radius:100px;
    color: white;
    text-align: center;
    cursor: pointer;
    position:absolute;
    top:-10px;
    right:-10px;
  }
  .remove:hover {
    background: white;
    color: black;
  }
}

.input_select_join {
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  input {
    width:60%;
    float: left;
    border:0;
  }
  .select-style_join {
    width:30%;
    border:0;
    float: left;
    border-left:1px solid #D7D7D7;
    border-radius:0;
    float: right;
  }
  .radio_join {
    width:30%;
    margin: 5px;
    border:1px solid #D7D7D7;
    border-radius:3px;
    float: right;
    overflow:hidden;
    .radiobox {
      div {
        float: left;
        text-align:center;
        font-size:13px;
        margin-right: 0;
        border:0;
        width:50%;
        padding:2px 0;
        margin:0;
        border-radius:0;
        sup {
          font-size: 9px;
        }
      }
      &:last-child {
        div {
          border-left:1px solid #D7D7D7;
          width:calc(50% - 1px);
          float: right;
        }
      }
      input {
        &:checked ~ div{
          background:#1477EA;
        }
      }
    }
  }
  
}
