#header {
	position: absolute;
	width: 100%;
	top: 0;
	left:0;
	z-index: 5;
	padding-top: 20px;
	padding-bottom: 20px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	#menu_ {
		position: fixed;
		top: 10px;
		right: 10px;
		padding: 15px;
		z-index: 11;
		width: 25px;
		display: none;
		span {
			display: block;
			height: 3px;
			border-radius: 100px;
			background: #fff;
			margin-bottom: 5px;
			width: 100%;
			@include transition(0.5s);
			&:nth-child(3) {
				width: 50%;
			}
		}
		&.menu_close_style {
			span {
				background: #fff;
				position: relative;
				&:nth-child(3) {
					display: none;
				}
				&:nth-child(1) {
					@include rotate(-45deg);
					top: 8px;
					
				}
				&:nth-child(2) {
					@include rotate(45deg);
					
				}
			}
			
		}
	}
	.logo {
		float: left;
		height: 55px;
		img {
			height: 100%;
		}
	}
	#nav {
		float: right;
		margin-top: 5px;
		a {
			float: left;
			padding: 13px 5px;
			margin: 0 20px;
			color: #fff;
			&.btn_download {
				margin-left: 50px;
				padding: 13px 25px;
				background: $blue;
				border-radius: 100px;
			}
			&:hover,
			&.selected {
				border-bottom: 3px solid #fff;
			}
		}
	}
	&.reguler {
		@include gradient_pos(#2BC1F6,#138EE9,left,100%,0%);
		position: relative;
	}
	&.clean {
		background: none;
		position: absolute;
	}
	&.smaller {
		@include gradient_pos(#2BC1F6,#138EE9,left,100%,0%);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 20;
		animation-name: headerdown;
    	animation-duration: 0.5s;
    	#nav {
    		a.btn_download {
    			background: #fff;
    			color: $blue;
    		}
    	}
	}
}
#footer {
	@include gradient_pos(#2BC1F6,#138EE9,left,100%,0%);
	color: #fff;
	margin-top: 150px;
	.start_now {
		padding: 0 150px;
		.phone_bottom {
			width: 200px;
			float: left;
			position: relative;
			margin-top: -100px;
		}
		.text {
			float: right;
			width: calc(100% - 250px);
			font-size: 36px;
			font-weight: 100;
			padding-top: 30px;
			.download {
				margin-top: 30px;
				span {
					display: block;
					font-size: 16px;
					margin-bottom: 15px;
				}
				a {
					height: 50px;
					margin-right: 20px;
					display: inline-block;
					@include transition(0.5s);
					img {
						height: 100%;
					}
					&:hover {
						@include scale(1.1);
					}

				}
			}
		}
	}
	.footer2 {
		font-size: 13px;
		color: #fff;
		position: relative;
		padding-bottom: 30px;
		border-top: 1px solid rgba(255,255,255,0.5);
		padding-top: 30px;
		margin-top: 30px;
		.logo {
			height: 40px;
			display: inline-block;
			img {
				height: 100%;
			}
		}
		#nav_foot {
			margin: 20px 0;
			a {
				display: inline-block;
				margin-right: 20px;
				color: #fff;
				@include transition(0.5s);
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.sosmed {
			position: absolute;
			right: 0;
			top: 30px;
			span {
				display: block;
				margin-bottom: 10px;
			}
			a {
				display: inline-block;
				height: 25px;
				margin-right: 10px;
				@include transition(0.5s);
				img {
					height: 100%;
				}
				&:hover {
					@include scale(1.1);
				}
			}
		}
	}
	&.reguler {
		margin-top: 50px;
		.start_now {
			display: none;
		}
	}

}






















