body {
	font-family:$font_reg, helvetica, arial;
	font-size: 14px;
	@include gradient_pos(#2BC1F6,#138EE9,left,100%,0%);
	color: #fff; 
}
.container {
	width:1100px;
	margin:0 auto;
}
.danapage {
	
	.logo {
		position: absolute;
		left: 20px;
		top: 0;
		width: 150px;
		margin: 30px;
		img {
			width: 100%;
		}
		&.center {
			left: calc(50% - 155px);
			width: 250px;
			top: 20px;
		}
	}
	.text {
		margin-top: 200px;
		padding: 0 20px;
		text-align: center;
		width: 50%;
		min-height: 500px;
		position: relative;
		z-index: 2;
		h1 {
			font-size: 42px;
			margin-bottom: 30px;
		}
		.download {
			strong {
				display: block;
				margin-bottom: 10px;
				font-size: 18px;
			}
			a {
				height: 50px;
				margin-right: 20px;
				display: inline-block;
				@include transition(0.5s);
				img {
					height: 100%;
				}
				&:hover {
					@include scale(1.1);
				}
			}
		}
	}
	.form {
		padding: 0;
	}
	.phonearea {
		width: 65%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;

	}
	.phone {
		position: absolute;
		right: -55%;
		width: 100%;
		top: 0;
		@include rotate(25deg);

		img {
			width: 250px;
			position: absolute;
		}
		.phone1 {
			top: 300px;
			animation-name: slideanimate;
    		animation-duration: 0.5s;
		}
		.phone2 {
			top: 150px;
			left: 250px;
			animation-name: slideanimate;
    		animation-duration: 1s;
		}
		.phone3 {
			top: 800px;
			left: 0;
			animation-name: slideanimate2;
    		animation-duration: 0.5s;
		}
		.phone4 {
			top: 620px;
			left: 250px;
			animation-name: slideanimate2;
    		animation-duration: 1.3s;
		}
		.phone5 {
			top: -320px;
			left: 250px;
			animation-name: slideanimate;
    		animation-duration: 1.3s;
		}
		.phone6 {
			top: 500px;
			left: 500px;
			animation-name: slideanimate2;
    		animation-duration: 2s;
		}
		.phone7 {
			top: 0px;
			left: 500px;
			animation-name: slideanimate2;
    		animation-duration: 1.5s;
		}
	}
}

@keyframes slideanimate {
    from {
    	-moz-transform: translateY(-60%);
		-ms-transform: translateY(-60%);
		-webkit-transform: translateY(-60%);
		transform: translateY(-60%);
    }
    to {
    	-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
    }
}
@keyframes slideanimate2 {
    from {
    	-moz-transform: translateY(60%);
		-ms-transform: translateY(60%);
		-webkit-transform: translateY(60%);
		transform: translateY(60%);
    }
    to {
    	-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
    }
}


.download_text {
	.logo_replace {
		height: 30px;
	}
	h2 {
		font-size: 36px;
		margin-bottom: 20px;
	}
}


.detail_daftar {
	margin: 0 auto;
	width: 70%;
}

.btn {
  @include gradient_pos(#FFD200,#FFA600,left,100%,0%);
  width: 50%;
  padding: 15px 0;
  font-family: $font_reg;
  font-size: 16px;
  border-radius: 100px;
  color: #000;
  font-weight: bold;
  &:hover{
    background:#FFD200; 
    color: #000;
  }
}


.qr_area {
	padding: 50px;
	background: #fff;
	border-radius: 20px;
	margin: 0 auto;
	width: 450px;
	margin-top: 170px;
	color: #000;
	text-align: center;
	font-size: 15px;
	h2 {
		margin-bottom: 20px;
	}
	.qr_img {
		width: 70%;
		margin-bottom: 30px;
	}
	.fail {
		width: 30%;
	}
	.fail_text {
		color: red;
	}
}
.logo_mobile {
	height: 40px;
	display: inline-block;
	margin-top: 20px;
	img {
		height: 100%;
	}
}


.bg_gift {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	//animation: opacityzoom 4s infinite;
	.img_shine {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		animation: blinking 2s infinite;
		opacity:0.5;
	}
}

.prize_area {
	text-align: center;
	h2 {
		margin-top: 26px;
	}
	.after {
		display: none;
	}
	p {
		margin: 0;
		padding: 0;
	}
}
.giftbox {
	display: block;
	position: absolute;
	text-align: center;
	bottom: 50px;
	img {
		width: 50%;
		animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
  		transform: translate3d(0, 0, 0);
	}
	&.more {
		img {
			animation: shake_more 0.7s cubic-bezier(.36,.07,.19,.97) both infinite;
		}
	}
}

.giftbox_win {
	position: absolute;
	display: none;
	width: 100%;
	height: 70%;
	bottom:0;
	left:0;
	img {
		width: 100%;

	}
	.box {
		width: 80%;
		position: absolute;
		bottom: 50px;
		left: 10%;
		z-index: 2;
	}
	.support1 {
		width: 100%;
		position: fixed;
		bottom: 170px;
		left: 0%;
		z-index: 3;
		animation: zoom_dua 15s infinite;
	}
	.support2 {
		width: 100%;
		position: fixed;
		bottom: 170px;
		left: 0%;
		z-index: 1;
		animation: blinking 2s infinite;
	}
	.support3 {
		width: 100%;
		position: fixed;
		bottom: 30px;
		left: 0%;
		z-index: 1;
		animation: zoom 15s infinite;
	}
	.item {
		width: 30%;
		position: fixed;
		bottom: 200px;
		left: 33.3%;
		z-index: 3;
		animation: up 5s;
	}
	.item_name {
		position: fixed;
		width: 100%;
		text-align: center;
		z-index: 10;
		bottom: 100px;
		animation: fadein 0.5s;
		span {
			bottom: 280px;
			background:#00AEF4;
			color: #fff;
			padding: 10px 30px;
			border-radius: 5px;
			@include shadow(10px,0.5); 
			font-size: 22px;
			font-weight: bold;
			
		}
	}
}

.win {
	.prize_area {
		h2 {
			display: none;
		}
		.after {
			display: block;
		}
		p {
			margin: 0;
			padding: 0;
		}
	}
	.bg_gift {
		height: 150%;
		background: #0088FF; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover, #0088FF 0%, #23B1F1 79%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover, #0088FF 0%,#23B1F1 79%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center, #0088FF 0%,#23B1F1 79%);
		.img_shine {
			opacity:0.5;
			animation: blinking 1s infinite;
		}
	}
	.giftbox {
		display: none;
	}
	.giftbox_win {
		display: block;
	}
}

.blow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 0;
	animation: blow 0.5s;
	background:#fff;
	display: none;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake_more {
  10%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(10px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-15px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(15px, 0, 0);
  }
  50% {
  	transform: translateY(0);
  }
  100% {
  	transform: translateY(50);
  }
}

@keyframes opacityzoom {
  10%, 90% {
    transform: scale(1);
    opacity: 0.7;
  }
  
  20%, 80% {
    //transform: scale(1.1);
    opacity: 1;
  }

  30%, 50%, 70% {
    transform: scale(1);
    opacity: 0.7;
  }

  40%, 60% {
    transform: scale(1.1);
    opacity: 1;
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
    opacity:0;
	}
  10% {
    transform: scale(1.1);
    opacity:1;
	}
  100% {
  	transform: scale(2);
  }
}
@keyframes zoom_dua{
  0% {
    transform: scale(1);
    opacity:0;
	}
  10% {
    transform: scale(1.1);
    opacity:1;
	}
  100% {
  	transform: scale(1.3);
  }
}
@keyframes blow{
  0% {
    transform: scale(1);
    opacity:0;
	}
  80% {
  	transform: scale(1.3);
  	opacity:1;
  }
  100% {
  	transform: scale(1.3);
  	opacity:0;
  }
}

@keyframes blinking {
  0% {
    opacity:1;
	}
  50% {
  	opacity:0.2;

  }
  100% {
  	opacity:1;

  }
  
}

@keyframes up {
  0% {
    transform: translateY(45px);
    opacity: 0
	}
30% {
		opacity:1;
	}
  100% {
  	transform: translateY(0);
  }
}
@keyframes fadein {
  0% {
    opacity:0;
	}
  100% {
  	opacity:2;
  }
}



































