@font-face {
  font-family: truenoff;
  src: url("../fonts/TruenoRg.otf");
}

@font-face {
  font-family: truenoff;
  src: url("../fonts/TruenoLt.otf");
  font-weight: 100;
}

@font-face {
  font-family: truenoff;
  src: url("../fonts/TruenoSBd.otf");
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.clearfix {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

a {
  text-decoration: none;
}

.mr20 {
  margin-right: 20px;
}

.mt5 {
  margin-top: 5px;
}

.box_img {
  display: block;
  position: relative;
  width: 100%;
}

.box_img:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}

/* Other ratios */
.ratio2_1:before {
  padding-top: 50%;
}

.ratio3_1:before {
  padding-top: 40%;
}

.ratio4_1:before {
  padding-top: 25%;
}

.ratio5_1:before {
  padding-top: 20%;
}

.ratio1_2:before {
  padding-top: 200%;
}

.ratio4_3:before {
  padding-top: 75%;
}

.ratio5_3:before {
  padding-top: 65%;
}

.ratio3_4:before {
  padding-top: 133%;
}

.ratio16_9:before {
  padding-top: 56.25%;
}

.ratio9_16:before {
  padding-top: 178%;
}

.ratio9_8:before {
  padding-top: 85%;
}

.ratio6_2:before {
  padding-top: 40%;
}

.m10 {
  margin: 10px;
}

.img_con {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Styling */
  text-align: center;
  vertical-align: center;
  overflow: hidden;
}

.img_con img {
  height: 100%;
}

.img_con iframe {
  height: 100%;
  width: 100%;
}

.col2,
.col3,
.col4,
.col5,
.col6,
.col7 {
  float: left;
}

.col2 {
  width: 50%;
}

.col3 {
  width: 33.3%;
}

.col4 {
  width: 25%;
}

.col5 {
  width: 20%;
}

.col6 {
  width: 66,6%;
}

.col7 {
  width: 75%;
}

.btn {
  padding: 10px 20px;
  background: red;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
}

.btn img {
  float: right;
  height: 10px;
  margin-left: 20px;
  position: relative;
  top: 3px;
}

.btn:hover {
  background: #000;
  color: #fff;
}

.btn.btn_big {
  padding: 15px 40px;
}

.btn.btn_black {
  background: #000;
  color: #fff;
}

.btn.btn_red {
  background: red;
  color: #fff;
}

.btn.btn_red:hover {
  background: #000;
  color: #fff;
}

.btn.btn_grey {
  background: #aaa;
  color: #fff;
}

.btn.btn_grey:hover {
  background: #000;
  color: #fff;
}

.btn.btn_full {
  padding: 10px 0;
  width: 100%;
  margin: 10px 0;
}

.bgfloat {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 1;
}

.bgfloat2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 1;
}

.bgfloat_w {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  top: 0;
  left: 0;
  z-index: 1;
}

.gradtop {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.gradtop_w2 {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 0) 70%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 0) 70%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 0) 70%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.graddown {
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

@keyframes slideUp {
  from {
    -webkit-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes login {
  from {
    background-size: 160%;
  }
  to {
    background-size: 190%;
  }
}

@keyframes slideUpdua {
  from {
    bottom: -400px;
  }
  to {
    bottom: 0;
  }
}

@keyframes slideUp_ {
  from {
    top: 100px;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    top: 0;
  }
  to {
    top: -100px;
  }
}

@keyframes headerdown {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@keyframes logohover {
  from {
    margin-left: 50px;
  }
  to {
    margin-left: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    -ms-transform: scale(0.5, 0.5);
    /* IE 9 */
    -webkit-transform: scale(0.5, 0.5);
    /* Chrome, Safari, Opera */
    transform: scale(0.5, 0.5);
  }
  to {
    opacity: 1;
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
  }
}

@keyframes rotate {
  from {
    opacity: 0;
    -ms-transform: scale(0.5, 0.5);
    /* IE 9 */
    -webkit-transform: scale(0.5, 0.5);
    /* Chrome, Safari, Opera */
    transform: scale(0.5, 0.5);
  }
  to {
    opacity: 0;
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
  }
}

@keyframes fadeindua {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes blinking {
  0% {
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Chrome, Safari, Opera */
    transform: scale(1);
  }
  50% {
    -ms-transform: scale(2);
    /* IE 9 */
    -webkit-transform: scale(2);
    /* Chrome, Safari, Opera */
    transform: scale(2);
  }
  100% {
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Chrome, Safari, Opera */
    transform: scale(1);
  }
}

.slideUp {
  animation-name: slideUp;
  animation-duration: 0.5s;
}

.animateout {
  animation-name: fadeout;
  animation-duration: 0.5s;
}

.animatein {
  animation-name: fadein;
  animation-duration: 0.5s;
}

a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
}

a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
}

a.animated-button.victoria-one {
  border: 2px solid #D24D57;
}

a.animated-button.victoria-one:after {
  background: #D24D57;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

body {
  font-family: truenoff, helvetica, arial, helvetica, arial;
  font-size: 14px;
  background: #2BC1F6;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2BC1F6 0%, #138EE9 100%);
  background: -webkit-linear-gradient(left, #2BC1F6 0%, #138EE9 100%);
  background: linear-gradient(to 100%, #2BC1F6 0%, #138EE9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  color: #fff;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.danapage .logo {
  position: absolute;
  left: 20px;
  top: 0;
  width: 150px;
  margin: 30px;
}

.danapage .logo img {
  width: 100%;
}

.danapage .logo.center {
  left: calc(50% - 155px);
  width: 250px;
  top: 20px;
}

.danapage .text {
  margin-top: 200px;
  padding: 0 20px;
  text-align: center;
  width: 50%;
  min-height: 500px;
  position: relative;
  z-index: 2;
}

.danapage .text h1 {
  font-size: 42px;
  margin-bottom: 30px;
}

.danapage .text .download strong {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.danapage .text .download a {
  height: 50px;
  margin-right: 20px;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.danapage .text .download a img {
  height: 100%;
}

.danapage .text .download a:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Chrome, Safari, Opera */
  transform: scale(1.1);
}

.danapage .form {
  padding: 0;
}

.danapage .phonearea {
  width: 65%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.danapage .phone {
  position: absolute;
  right: -55%;
  width: 100%;
  top: 0;
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}

.danapage .phone img {
  width: 250px;
  position: absolute;
}

.danapage .phone .phone1 {
  top: 300px;
  animation-name: slideanimate;
  animation-duration: 0.5s;
}

.danapage .phone .phone2 {
  top: 150px;
  left: 250px;
  animation-name: slideanimate;
  animation-duration: 1s;
}

.danapage .phone .phone3 {
  top: 800px;
  left: 0;
  animation-name: slideanimate2;
  animation-duration: 0.5s;
}

.danapage .phone .phone4 {
  top: 620px;
  left: 250px;
  animation-name: slideanimate2;
  animation-duration: 1.3s;
}

.danapage .phone .phone5 {
  top: -320px;
  left: 250px;
  animation-name: slideanimate;
  animation-duration: 1.3s;
}

.danapage .phone .phone6 {
  top: 500px;
  left: 500px;
  animation-name: slideanimate2;
  animation-duration: 2s;
}

.danapage .phone .phone7 {
  top: 0px;
  left: 500px;
  animation-name: slideanimate2;
  animation-duration: 1.5s;
}

@keyframes slideanimate {
  from {
    -moz-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
  }
  to {
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slideanimate2 {
  from {
    -moz-transform: translateY(60%);
    -ms-transform: translateY(60%);
    -webkit-transform: translateY(60%);
    transform: translateY(60%);
  }
  to {
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.download_text .logo_replace {
  height: 30px;
}

.download_text h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.detail_daftar {
  margin: 0 auto;
  width: 70%;
}

.btn {
  background: #FFD200;
  /* Old browsers */
  background: -moz-linear-gradient(left, #FFD200 0%, #FFA600 100%);
  background: -webkit-linear-gradient(left, #FFD200 0%, #FFA600 100%);
  background: linear-gradient(to 100%, #FFD200 0%, #FFA600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  width: 50%;
  padding: 15px 0;
  font-family: truenoff, helvetica, arial;
  font-size: 16px;
  border-radius: 100px;
  color: #000;
  font-weight: bold;
}

.btn:hover {
  background: #FFD200;
  color: #000;
}

.qr_area {
  padding: 50px;
  background: #fff;
  border-radius: 20px;
  margin: 0 auto;
  width: 450px;
  margin-top: 170px;
  color: #000;
  text-align: center;
  font-size: 15px;
}

.qr_area h2 {
  margin-bottom: 20px;
}

.qr_area .qr_img {
  width: 70%;
  margin-bottom: 30px;
}

.qr_area .fail {
  width: 30%;
}

.qr_area .fail_text {
  color: red;
}

.logo_mobile {
  height: 40px;
  display: inline-block;
  margin-top: 20px;
}

.logo_mobile img {
  height: 100%;
}

.bg_gift {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg_gift .img_shine {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: blinking 2s infinite;
  opacity: 0.5;
}

.prize_area {
  text-align: center;
}

.prize_area h2 {
  margin-top: 26px;
}

.prize_area .after {
  display: none;
}

.prize_area p {
  margin: 0;
  padding: 0;
}

.giftbox {
  display: block;
  position: absolute;
  text-align: center;
  bottom: 50px;
}

.giftbox img {
  width: 50%;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
}

.giftbox.more img {
  animation: shake_more 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

.giftbox_win {
  position: absolute;
  display: none;
  width: 100%;
  height: 70%;
  bottom: 0;
  left: 0;
}

.giftbox_win img {
  width: 100%;
}

.giftbox_win .box {
  width: 80%;
  position: absolute;
  bottom: 50px;
  left: 10%;
  z-index: 2;
}

.giftbox_win .support1 {
  width: 100%;
  position: fixed;
  bottom: 170px;
  left: 0%;
  z-index: 3;
  animation: zoom_dua 15s infinite;
}

.giftbox_win .support2 {
  width: 100%;
  position: fixed;
  bottom: 170px;
  left: 0%;
  z-index: 1;
  animation: blinking 2s infinite;
}

.giftbox_win .support3 {
  width: 100%;
  position: fixed;
  bottom: 30px;
  left: 0%;
  z-index: 1;
  animation: zoom 15s infinite;
}

.giftbox_win .item {
  width: 30%;
  position: fixed;
  bottom: 200px;
  left: 33.3%;
  z-index: 3;
  animation: up 5s;
}

.giftbox_win .item_name {
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: 100px;
  animation: fadein 0.5s;
}

.giftbox_win .item_name span {
  bottom: 280px;
  background: #00AEF4;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: bold;
}

.win .prize_area h2 {
  display: none;
}

.win .prize_area .after {
  display: block;
}

.win .prize_area p {
  margin: 0;
  padding: 0;
}

.win .bg_gift {
  height: 150%;
  background: #0088FF;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #0088FF 0%, #23B1F1 79%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #0088FF 0%, #23B1F1 79%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #0088FF 0%, #23B1F1 79%);
}

.win .bg_gift .img_shine {
  opacity: 0.5;
  animation: blinking 1s infinite;
}

.win .giftbox {
  display: none;
}

.win .giftbox_win {
  display: block;
}

.blow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  animation: blow 0.5s;
  background: #fff;
  display: none;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake_more {
  10%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(10px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-15px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(15px, 0, 0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50);
  }
}

@keyframes opacityzoom {
  10%, 90% {
    transform: scale(1);
    opacity: 0.7;
  }
  20%, 80% {
    opacity: 1;
  }
  30%, 50%, 70% {
    transform: scale(1);
    opacity: 0.7;
  }
  40%, 60% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  10% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
  }
}

@keyframes zoom_dua {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  10% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
  }
}

@keyframes blow {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  80% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes up {
  0% {
    transform: translateY(45px);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

.select-style {
  border: 0;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  padding: 1px;
  width: calc(100% - 10px);
  overflow: hidden;
  font-size: 15px;
  padding: 0 5px;
  height: 35px;
  position: relative;
  background: url(../images/arrow_down_black.png) no-repeat center;
  background-color: #fff;
  background-size: 10px;
  background-position: calc(100% - 15px);
  margin-top: 10px;
}

.select-style select {
  padding: 10px 10px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  outline: none;
  font-family: truenoff, helvetica, arial;
  font-size: 13px;
}

.select-style.select-style_black {
  background: url(../images/arrow_down_white.png) no-repeat center #2F2F2F;
  background-size: 10px;
  background-position: calc(100% - 15px);
  margin-top: 10px;
  border: 0;
  height: 30px;
  color: #fff;
}

.select-style.select-style_black select {
  padding: 6px;
  color: #fff;
}

.select-style.select-style2 {
  width: 50%;
}

.select-style2 {
  border: 1px solid #D7D7D7;
  height: 35px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}

.select-style2 .select-style {
  border: 0;
  border-radius: 0;
  float: left;
}

.select-style2 .select-style60 {
  width: calc(60% - 10px);
}

.select-style2 .select-style40 {
  width: calc(40% - 11px);
  border-left: 1px solid #D7D7D7;
}

.group-input {
  text-align: left;
  font-size: 15px;
  padding: 10px 0;
}

.group-input input {
  margin-top: 10px;
  border: 0px solid #D7D7D7;
  border-radius: 5px;
  padding: 13px;
  width: calc(100% - 20px);
  outline: none;
  font-size: 15px;
  font-family: truenoff, helvetica, arial;
}

.group-input input.img {
  background-size: 25px;
  background-position: 5px;
  padding-left: 35px;
  width: calc(100% - 45px);
  background-repeat: no-repeat;
  background-color: #fff;
}

.group-input input.user {
  background-image: url("../images/ico_user.png");
}

.group-input input.email {
  background-image: url("../images/ico_mail.png");
}

.group-input input.password {
  background-image: url("../images/ico_password.png");
}

.group-input input.company {
  background-image: url("../images/icon_corporate.png");
}

.group-input input.phone {
  background-image: url("../images/icon_phone.png");
}

.group-input input:focus {
  border-color: #138EE9;
}

.group-input .btn {
  background-color: #FF9F00;
  width: auto;
  padding: 10px 40px;
  color: #fff;
  font-weight: bold;
  border-radius: 0;
  letter-spacing: 3px;
  border: 0;
  margin-top: 0;
}

.group-input .btn:hover {
  background: #000;
}

.group-input .input-password {
  position: relative;
}

.group-input .show_pass {
  position: absolute;
  right: 5px;
  top: calc(50% - 10px);
  margin: 0;
  cursor: pointer;
  z-index: 2;
}

.group-input .show_pass img {
  height: 30px;
}

.group-input .show_pass:hover {
  opacity: 0.7;
}

.group-input .pass_hide {
  display: none;
  opacity: 0.5;
}

.group-input.group-password .info-input {
  float: left;
  width: 100%;
  margin-top: 5px;
  font-size: 11px;
  position: relative;
  z-index: 2;
}

.group-input.group-password .strenght_pass,
.group-input.group-password .strength_meter {
  float: right;
  width: 130px;
}

.group-input.group-password .info-input2 {
  width: 100%;
}

.group-input textarea {
  border: 1px solid #D7D7D7;
  padding: 7px;
  width: calc(100% - 14px);
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 5px;
  font-family: truenoff, helvetica, arial;
}

.group-input .file {
  display: block;
  text-align: center;
  border: 1px solid #D7D7D7;
  padding: 7px;
  padding-bottom: 13px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.group-input .file img {
  height: 20px;
  position: relative;
  top: 5px;
}

.group-input .file input {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}

.group-input .radiobox input {
  float: left;
  width: auto;
  margin-right: 5px;
  display: none;
}

.group-input .radiobox input:checked ~ div {
  border-color: #1477EA;
  background: #E2F0FF;
}

.group-input .radiobox div {
  border: 1px solid #D7D7D7;
  padding: 4px 8px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: inline-block;
  float: left;
  margin-right: 7px;
  font-size: 14px;
  cursor: pointer;
}

.group-input .radiobox div:hover {
  border-color: #1477EA;
  background: #E2F0FF;
}

.group-input .radiobox.radiobox2 div {
  padding: 10px 50px;
  font-size: 20px;
  margin-right: 15px;
}

.group-input .radiobox.radiobox_full {
  width: 100%;
}

.group-input .radiobox.radiobox_full div {
  padding: 10px;
  text-align: left;
  width: calc(100% - 20px);
  display: inline-block;
}

.group-input .radiobox.radiobox3 input:checked ~ div {
  border-color: #1477EA;
  background: #1477EA;
}

.group-input .radiobox.radiobox_skill {
  text-align: center;
}

.group-input .radiobox.radiobox_skill > div {
  width: calc(20% - 26px);
  float: left;
}

.group-input .radiobox.radiobox_skill > div img {
  width: 50%;
  padding: 10px;
}

.group-input .radiobox.radiobox_skill input {
  float: left;
  width: auto;
  margin-right: 5px;
  display: none;
}

.group-input .radiobox.radiobox_skill input:checked ~ div {
  border-color: #1477EA;
  background-image: url(../images/icon_checklist.png);
  background-repeat: no-repeat;
  background-position: 95% 5%;
  background-size: 20px;
  background-color: #E2F0FF;
}

.group-input .checkbox_type div {
  border-radius: 5px;
  margin: 7px;
  display: inline-block;
  float: left;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  width: 70px;
  height: 70px;
  padding: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.group-input .checkbox_type div img {
  width: 70%;
}

.group-input .checkbox_type div:hover {
  color: #1477EA;
}

.group-input .checkbox_type input {
  float: left;
  width: auto;
  margin-right: 10px;
  display: none;
}

.group-input .checkbox_type input:checked ~ div {
  background: url(../images/icon_checklist.png) no-repeat #fff;
  background-size: 15px;
  background-position: 90% 10%;
  color: #1477EA;
}

.group-input .checkbox_type2 {
  margin-bottom: 10px;
  display: block;
}

.group-input .checkbox_type2 div {
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background: url(../images/checklist.png) no-repeat;
  background-size: 15px;
}

.group-input .checkbox_type2 input {
  float: left;
  width: auto;
  margin-right: 10px;
  display: none;
}

.group-input .checkbox_type2 input:checked ~ div {
  background: url(../images/checklist_selected.png) no-repeat #fff;
  background-size: 15px;
  background-position: 90% 10%;
  color: #1477EA;
}

.group-input .input_file2 {
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: 15px;
  display: inline-block;
}

.group-input .input_file2 input {
  display: none;
}

.group-input .with_remove {
  position: relative;
}

.group-input .with_remove .remove {
  position: absolute;
  height: 30px;
  line-height: 30px;
  right: 0;
  top: 0;
  z-index: 5;
  margin: 2px 10px;
  font-weight: bold;
  cursor: pointer;
}

.group-input .with_remove .remove:hover {
  opacity: 0.8;
}

.group-input .input-style {
  position: relative;
}

.group-input .input-style .left {
  position: absolute;
  width: 40px;
  margin: 0;
  padding: 0;
  left: 10px;
  top: 7px;
}

.group-input .input-style .right {
  position: absolute;
  width: 40px;
  margin: 0;
  padding: 0;
  right: 10px;
  top: 7px;
  text-align: right;
}

.group-input .input-style input {
  padding-left: 50px;
  padding-right: 50px;
  width: calc(100% - 100px);
}

.group-input .input-style.input-style-right input {
  padding-left: 10px;
  width: calc(100% - 60px);
}

.group-input .input-style.input-style-left input {
  padding-right: 10px;
  width: calc(100% - 60px);
}

.group-input.group-input2 {
  border-bottom: 1px solid #F4F4F4;
  height: 35px;
  margin-bottom: 10px;
  position: relative;
}

.group-input.group-input2 label {
  float: left;
  width: 100px;
  font-style: italic;
  margin-top: 10px;
}

.group-input.group-input2 input {
  float: left;
  width: calc(100% - 100px);
  border: 0;
  background: none;
  padding: 0;
  font-size: 15px;
  font-weight: normal;
  height: 35px;
  text-align: left;
  margin-bottom: 0;
}

.group-input-drag {
  background: #F0F0F0;
  border: 1px dotted #AAAAAA;
  padding: 30px;
  text-align: center;
  min-height: 300px;
  position: relative;
}

.group-input-drag .drag_label {
  display: block;
  position: relative;
  width: 100%;
  height: 280px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.group-input-drag .drag_label .info_drag {
  display: inline-block;
  width: 200px;
}

.group-input-drag .drag_label .info_drag img {
  width: 50%;
  margin: 20px 0;
  display: inline-block;
}

.group-input-drag .drag_label .info_drag .btn {
  padding: 15px 0;
  margin-top: 20px;
  width: 100%;
  font-weight: bold;
}

.group-input-drag input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.group-input-drag .imageThumb {
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}

.group-input-drag .pip {
  display: inline-block;
  position: relative;
  width: calc(33.3% - 30px);
  margin: 10px;
}

.group-input-drag .pip .box_img {
  background: #fff;
}

.group-input-drag .pip .btn {
  width: 100%;
  padding: 10px 0;
  display: block;
  text-align: center;
}

.group-input-drag .remove {
  display: block;
  background: red;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 100px;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
}

.group-input-drag .remove:hover {
  background: white;
  color: black;
}

.input_select_join {
  border: 1px solid #D7D7D7;
  border-radius: 5px;
}

.input_select_join input {
  width: 60%;
  float: left;
  border: 0;
}

.input_select_join .select-style_join {
  width: 30%;
  border: 0;
  float: left;
  border-left: 1px solid #D7D7D7;
  border-radius: 0;
  float: right;
}

.input_select_join .radio_join {
  width: 30%;
  margin: 5px;
  border: 1px solid #D7D7D7;
  border-radius: 3px;
  float: right;
  overflow: hidden;
}

.input_select_join .radio_join .radiobox div {
  float: left;
  text-align: center;
  font-size: 13px;
  margin-right: 0;
  border: 0;
  width: 50%;
  padding: 2px 0;
  margin: 0;
  border-radius: 0;
}

.input_select_join .radio_join .radiobox div sup {
  font-size: 9px;
}

.input_select_join .radio_join .radiobox:last-child div {
  border-left: 1px solid #D7D7D7;
  width: calc(50% - 1px);
  float: right;
}

.input_select_join .radio_join .radiobox input:checked ~ div {
  background: #1477EA;
}
